{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    [
      "css-modules-transform", {
      "extensions": [".css"],
      "append": [ "postcss-cssnext" ],
      "extractCss": "./static/css/bundle.css"
    }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-intl"
      ]
    },
    "production": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }]
      ]
    }
  }
}
